/* 
font-family: 'Inter', sans-serif;
font-family: 'Righteous', sans-serif;
font-family: 'Urbanist', sans-serif; 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    font: 500 16px/28px 'Urbanist', Arial, Helvetica, sans-serif;
    background-color: #14110E;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}

ul li,
ol li {
    list-style-type: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button{
    display: block;
    border: none;
    color: inherit;
    font: inherit;
    background-color: transparent;
    transition: .4s;
    cursor: pointer;
} 
.container {
    max-width: 1340px;
    padding: 0 75px;
    margin: 0 auto;
}
.container-header{
    padding: 0 10px;
}

/* Header */
#main-header {
    background-color: #1C1814;
    padding: 32px 0;;
}

.header,
.site-navigation, 
.site-navigation__list,
.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-navigation{
    /* место добавил */
    flex-grow: 1; 
}
.site-navigation__list {
    font-family: 400 18px 'Inter', Arial, Helvetica, sans-serif;
    gap: 48px;
}

.site-navigation-item__selected {
    color: #C99E71;
    font-weight: 700;
    cursor: default;
}
.site-navigation-item:hover,
.header-action-search:hover,
.header-action-cart:hover {
    color: #C99E71;
}
.header-action-search,
.header-action-cart{
    font-size: 25px;
}

.header-actions{
    gap: 50px;
    margin-left: 48px;
    
}
.header__logo,
.footer__logo {
    width: 72px;
    height: 60px;
}
/* Hero */
#hero {
    background: url(../img/header/coffee.jpg) 50% 0%/cover no-repeat;
}
.banner {
    display: flex;
    justify-content: space-between;
    padding: 147px 0 158px;
}
.banner-info {
    max-width: 530px;
}
.header__hero {
    font: 72px/94px 'Righteous', cursive;
}
.info__hero{
    margin: 32px 0 64px;
    font: 20px/36px 'Urbanist', sans-serif;
    font-weight: 500;
    opacity: 0.8;
    text-transform: capitalize;
}
.button__hero{
    padding: 24px 40px;
}
.banner-video__btn {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    height: 110px;
    font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.banner-video__btn:hover {
    color: #C99E71;
}
.banner-video__btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 66px;
    height: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: url(../img/header/play.svg) 50%/14px 18px no-repeat;
    transform: translateX(-50%);
}

.features{
    display: flex;
    justify-content: space-between;
    gap: 36px;
    padding-top: 140px;
}
.steps__item{
    font: 24px/30px 'Righteous';
}
.step{
    margin-right: 12px;
    color: #C99E71;
}

/* History */
.history-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(1fr, 2);
    align-items: stretch;
    gap: 32px;
}
.history-wrap__img:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
}
.history-wrap__img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}
.history-wrap__img:last-child {
    grid-column: 1/2;
    grid-row: 2/3;
}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 0 56px;
    background-color: #1C1814;
}
.history__title,
.history__subtitle {
    text-align: left;
}
.history__subtitle {
    margin-bottom: 36px;
}