/* 
font-family: 'Inter', sans-serif;
font-family: 'Righteous', sans-serif;
font-family: 'Urbanist', sans-serif; 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    font: 500 16px/28px 'Urbanist', Arial, Helvetica, sans-serif;
    background-color: #14110E;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}
button{
    display: block;
    border: none;
    color: inherit;
    font: inherit;
    background-color: transparent;
    transition: .4s;
    cursor: pointer;
} 
.btn{
    padding: 20px 36px;
    background-color: #c99e71; 
    font: 700 18px 'Inter', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #bd864b;
}

ul li,
ol li {
    list-style-type: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1340px;
    padding: 0 75px;
    margin: 0 auto;
}
.container-header{
    padding: 0 10px;
}

/* Header */
#main-header {
    background-color: #1C1814;
    padding: 32px 0;;
}

.header,
.site-navigation, 
.site-navigation__list,
.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-navigation{
    /* место добавил */
    flex-grow: 1; 
}
.site-navigation__list {
    font-family: 400 18px 'Inter', Arial, Helvetica, sans-serif;
    gap: 48px;
}

.site-navigation-item__selected {
    color: #C99E71;
    font-weight: 700;
    cursor: default;
}
.site-navigation-item:hover,
.header-action-search:hover,
.header-action-cart:hover {
    color: #C99E71;
}
.header-action-search,
.header-action-cart{
    font-size: 25px;
}

.header-actions{
    gap: 50px;
    margin-left: 48px;
    
}
.header__logo,
.footer__logo {
    width: 72px;
    height: 60px;
}
/* Hero */
#hero {
    background: url(../img/header/coffee.jpg) 50% 0%/cover no-repeat;
}
.banner {
    display: flex;
    justify-content: space-between;
    padding: 147px 0 158px;
}
.banner-info {
    max-width: 530px;
}
.header__hero {
    font: 72px/94px 'Righteous', cursive;
}
.info__hero{
    margin: 32px 0 64px;
    font: 20px/36px 'Urbanist', sans-serif;
    font-weight: 500;
    opacity: 0.8;
    text-transform: capitalize;
}
.button__hero{
    padding: 24px 40px;
}
.banner-video__btn {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    height: 110px;
    font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.banner-video__btn:hover {
    color: #C99E71;
}
.banner-video__btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 66px;
    height: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: url(../img/header/play.svg) 50%/14px 18px no-repeat;
    transform: translateX(-50%);
}

.features{
    display: flex;
    justify-content: space-between;
    gap: 36px;
    padding-top: 140px;
}
.steps__item{
    font: 24px/30px 'Righteous';
}
.step{
    margin-right: 12px;
    color: #C99E71;
}

/* History */
#history-section{
    margin: 140px 0;
}
.history-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(1fr, 2);
    align-items: stretch;
    gap: 32px;
}

.history-wrap__img:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
}
.history-wrap__img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}
.history-wrap__img:last-child {
    grid-column: 1/2;
    grid-row: 2/3;
}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 0 56px;
    background-color: #1C1814;
}
.history__title,
.history__subtitle {
    text-align: left;
}
.history__subtitle {
    margin-bottom: 36px;
}

/* Popular items */
.container__popular__titles{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    margin-bottom: 35px;
}
.popular__title{
    font: 600 18px/22px 'Urbanist', Arial, Helvetica, sans-serif;
    color:#C99E71;
}
.popular__subtitle{
    font: 400 38px/63px 'Righteous', Arial, Helvetica, sans-serif;
}
.popular-wrap{
    display: flex;
    justify-content: space-between;
    gap: 36px;
    margin-bottom: 56px;
}
.popular{
    padding: 48px 48px 40px 48px;
    background-color: #121315;
    text-align: center;
    text-transform: uppercase;
}
.popular__btn{
    display: block;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 252px;
    margin: 38px auto 0;
    padding: 20px 36px;
    font: 600 18px/22px 'Urbanist', Arial, Helvetica, sans-serif;
}


.rating{
    margin-top: 26px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: #C99E71;
}

.rating__list{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.rating__list__subtitle{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.price {
    color: #fff;
    font: 400 18px/22px 'Inter', Arial, Helvetica, sans-serif;
}
.price__end {
    color: #c99e71;
}

/* Coffee-machine__info */
.coffee-machine__info{
    margin-top: 120px;
}
.machine__describe {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 85px 80px;
    background-color: #1C1814;
}
.machine__describe > img {
    display: block;
    margin: 0 auto;
    max-height: 359px;
}
.discover {
    max-width: 535px;
}
.describe__title{
    margin-bottom: 36px;
    font: 400 48px/63px 'Inter', Arial, Helvetica, sans-serif;
    text-align: left;
}
.describe__info{
    font: 400 16px/29px 'Inter', Arial, Helvetica, sans-serif;
    opacity: 0.7;
}
.discover__button {
    display: block;
    width: 215px;
    margin-top: 36px;
}

/* Menu items */
.menu-popular-items{
    margin-top: 140px;
}
.menu__titles{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}
.menu__wrap{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 36px;
}
.menu-wrap__item{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 48%;
    padding: 24px;
    border: 1px solid #32323D;
}
.describe-coffee{
    font: 400 20px/30px 'Righteous', Arial, Helvetica, sans-serif;
}
.costs-item{
    display: block;
    margin-left: auto;
    color:#C99E71;
    font: 600 18px/22px 'Urbanist', Arial, Helvetica, sans-serif;
}

/* customers */
.review__title{
    font: 600 18px/22px 'Urbanist', Arial, Helvetica, sans-serif;
    color:#C99E71
}
.review__subtitle{
    font: 400 48px/63px 'Righteous', Arial, Helvetica, sans-serif;
}
.reviews__titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;

}
.info_cust > img {
    max-width: 129px;
    max-height: 149px;
    margin-bottom: 12px;
}
.review__wrap{
    display: flex;
    gap: 40px;
}

.customer__item{
    display: flex;
    border: 1px solid #1c1814;
    background-color: #1c1814;
    padding: 40px;
    gap: 25px;
}

.customer__info{
    font: 500 16px/29px 'Urbanist', Arial, Helvetica, sans-serif;
    opacity: .7;
    text-align: left;
    text-wrap: balance;
}
.name{
    font: 500 18px/22px 'Urbanist', Arial, Helvetica, sans-serif;
}
.job{
    font: 500 14px/26px 'Urbanist', Arial, Helvetica, sans-serif;
    opacity: .7;
}
